{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="text-center mb-5">
        <h1 class="display-5 fw-bold">
            📚 Available Courses
        </h1>
        <form method="GET" class="mb-4">
    <div class="input-group">

        <input
            type="text"
            name="q"
            class="form-control"
            placeholder="Search courses..."
            value="{{ request.GET.q }}"
        >

        <button class="btn btn-primary">
            🔍 Search
        </button>

    </div>
</form>

        <p class="text-muted">
            Explore courses and start learning today.
        </p>
    </div>

    <div class="row g-4">

        {% for course in courses %}

        <div class="col-md-4">

            <div class="card shadow h-100">

               
     {% if "Python" in course.title %}
<img src="https://images.unsplash.com/photo-1526379095098-d400fd0bf935?w=800"
     class="card-img-top"
     style="height:220px; object-fit:cover;">

{% elif "Java" in course.title %}
<img src="https://images.unsplash.com/photo-1515879218367-8466d910aaa4?w=800"
     class="card-img-top"
     style="height:220px; object-fit:cover;">

{% else %}
<img src="https://images.unsplash.com/photo-1501504905252-473c47e087f8?w=800"
     class="card-img-top"
     style="height:220px; object-fit:cover;">
{% endif %}
                <div class="card-body d-flex flex-column">

                    <h4 class="card-title">
                        {{ course.title }}
                    </h4>

                    <p class="card-text text-muted">
                        {{ course.description }}
                    </p>

                    <div class="mt-auto">

                        <a href="/enroll/{{ course.id }}/"
                           class="btn btn-primary w-100">
                            🚀 Enroll Now
                        </a>

                    </div>

                </div>

            </div>

        </div>

        {% empty %}

        <div class="text-center">
            <h4>No courses available.</h4>
        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}